// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.full-height {
    height: 100vh;
}

.flex-center {
    //align-items: center;
    display: flex;
    justify-self: center;
    max-width: 80%;
    justify-content: center;
    margin: auto;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 4rem;
    color: #5a6268;
}

.sub-title {
    font-size: 1.5rem;
    color: #5a6268;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.just-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
}

.just-form .submit {
    max-width: 10rem;
    font-weight: 700;
}

.saved-link {
    margin-top: 2rem;
}

input[type="text"] {
    padding: 2px 1rem;
}

.link-error > h1 {
    color: #f33;
}

.expired > h1 {
    color: #fa1;
    background-color: #5a6268;
}
.expired > td {
    color: #bbb;
}
